@import url("bootstrap.min.css");

body {
  background: #555;
  margin-top: 1em;
}

.container {
  background: #555;
  padding: 0 20px;
}

.mrrme {
  color:#DDD;
}

.orange {
  background: rgb(135, 162, 81);
}

.blue {
  background: rgb(23, 54, 94);
  margin: 20px 0 20px 20px;
}

.purple {
  background: rgb(204, 193, 219);
  margin: 20px 0 20px 20px;
}

.red {
  background: rgb(150, 55, 50);
}

.green {
  background: green;
  margin: 20px 0 20px 20px;
}

.yellow {
  background: rgb(77, 128, 192);
}