@import url("bootstrap.min.css");

body {
  margin-top: 2em;
}

.container {
  background: #555;
}

.mrrme {
  color:#DDD;
}

.orange {
  background: orange;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}