<div class="instructions">
  User is directed to a resource to help get them set up with a concierge who will help set up their eMoney account.

  <ul>
    <li>direct user to PayPal first?</li>
    <li>send an email off to manager who will assign a concierge?</li>
    <li>what course of action should be taken at this point?</li>
  </ul>
</div>

