<div class="instructions">
  User should be directed to log into eMoney 3rd party tool.

  <ul>
    <li>user has a premium account, but hasn't yet logged in to current session</li>
    <li>only those who have premium accounts can access eMoney</li>
    <li>My Retirement Made Easy will pay $300 a month to provide access for it's premium users</li>
    <li>when premium accounts are created, an eMoney account is also created for the user</li>
    <li>if there is an API that can be used to automate this, it would be preferable</li>
    <li>a little research is required to determine if eMoney provides this capability</li>
  </ul>
</div>
