<div class="row">
            <div class="span8">
                <div class="row">
                    <div class="span8 lightGreen" id="mainBlock">
                        <div class="row">
                            <div class="span3" id="catch">
                                <h3>Are You On Track?</h3>
                                <p>Every day, for the next 18 years, 10,000 Americans turn age 65.</p>
                                <p>Sadly, few are retirement-ready.</p>
                                <br>
                                <p>Order a <a href="#"><strong>FREE</strong> check-up</a> now</p>
                            </div><!-- /.span3 -->
                            <div class="span5" id="picture1">
                                <img src="filler1.png" alt="thumbnail" width="420" height="190" class="pull-right">
                            </div><!-- /.span5 -->
                        </div><!-- /.row -->
                        <div class="row second">
                            <div class="span8">
                                    <hr>
                                <div class="row">
                                    <div class="span3">
                                        <button class="btn btn-success" type="button" id="letsGo">LET'S GO &raquo; <br> Getting started is free.</button>
                                    </div><!-- /.span3 -->
                                    <div class="span5" id="ourMission">
                                        <h4>Our Mission:</h4>
                                        <p>Provide access to resources to help improve your retirement readiness.</p>
                                    </div><!-- /.span5 -->
                                </div><!-- /.row -->
                            </div><!-- /.span8 -->
                        </div><!-- /.row -->
                    </div><!-- /.span8 orange-->
                </div><!-- /.row -->
                <div class="row">
                    <div class="span4 blue">
                        <h3>Goodbye 401k Confusion</h3>
                        <h3>Hello Custom Plan Portal</h3>
                        <p>With content managed by your plan sponsor</p>
                        <button class="btn btn-success pull-left" type="button">Enter &raquo</button>
                        <img src="filler2.png" class="pull-right">
                    </div><!-- /.span4 -->
                    <div class="span4 purple">
                        <h3>Know Where You Stand</h3>
                        <h3>Personal Financial Portal</h3>
                        <p>Monitor progress, collaborate, & the Vault</p>
                        <ul class="unstyled pull-left nav nav-tabs nav-stacked">
                            <li><a href="#">Log-in &raquo</a></li>
                            <li><a href="#">Register &raquo</a></li>
                            <li><a href="#">Test Drive &raquo</a></li>
                            <li><a href="#">Security &raquo</a></li>
                        </ul>
                        <img src="filler2.png" class="pull-right">
                    </div><!-- /.span4 -->
                </div><!-- /.row -->
            </div><!-- /.span8>
        </div><!-- /.row -->
        <div id="row">
            <aside class="span4">
                <div class="row">
                    <div class="span4 red">
                        <h3>Triple Play Directory</h3>
                        <p>Criteria to make our financial pro ???</p>
                        <ol>
                            <li><strong>FREE</strong> on-demand support via unlimited email Q&A & 4 x 15-min consultations</li>
                            <li><strong>FREE</strong> retirement plan set-up & tracking</li>
                            <li><strong>FREE</strong> 401k investment help + investment annual advisory account fees < 1.00%</li>
                        </ol>
                        <button class="btn btn-success pull-right">View Directory</button>
                    </div><!-- /.span4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="span4 green">
                        <h3>SPECIAL OFFER/ ADVERTISEMENT</h3>
                    </div><!-- /.span4 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="span4 lightBlue">
                        <h3>Resource Center</h3>
                        <p>Videos, discounts, articles, worksheets</p>
                        <img src="filler2.png" class="pull-left">
                        <button class="btn btn-success btn1" type="button">Featured Content</button>
                        <button class="btn btn-success btn2" type="button">ACCESS ALL &raquo</button>
                    </div><!-- /.span4 -->
                </div><!-- /.row -->
            </aside><!-- /.span4 -->
        </div><!-- /.row -->