<style type="text/css">
#enter-my401k-plan-portal{ position: absolute; left: 800px; top: 651px; width: 128px; height: 48px; }
</style>



<%= image_tag "/assets/mock/register-for-my401k-plan-portal.png" %>



<!-- declare hotspots -->
<!-- 
  1. place new div in '#new-hotspots', with or without an enclosed anchor tag
  2. drag and adjust dimensions; make sure register hotspots is called at the bottom of the document (or layout) in a script block
  3. copy resulting style from console.log (e.g., in FireBug)
  4. paste in style block at the top
  5. move div to '#active-hotspots' when done; a light-yellow dashed line should be left to indicate where the hotspot is
-->
<div class="hotspots">
  <div class="new-hotspots">
  </div>

  <div class="active-hotspots">
    <div id="enter-my401k-plan-portal" class="hotspot-dark"><%= link_to "enter-my401k-plan-portal", enter_my401k_plan_portal_path %></div>
  </div>
</div>
<!-- /declare hotspots -->



