<div class="instructions">
  Upon registering for premium membership

  <ul>
    <li>User is prompted to make payment to PayPal?</li>
    <li>User waits for admin to grant access?</li>
    <li>What screen should follow request? or if PayPal is used, what screen should be displayed upon receiving payment through PayPal?</li>
  </ul>
</div>
