<style type="text/css">
#resource-item-01{ position: absolute; left: 313px; top: 133px; width: 457px; height: 129px; }
#resource-item-02{ position: absolute; left: 313px; top: 288px; width: 457px; height: 129px; }
#resource-item-03{ position: absolute; left: 314px; top: 443px; width: 457px; height: 129px; }
</style>

<ul class="hotspot-enabled" data-title="resource-center-all">
  <%= image_tag "/assets/mock/resource-center-all.png" %>
  <li data-id="resource-item-01" data-mode="active" data-dark-border="true">
    <%= resource_center_item_path %>
  </li>
  <li data-id="resource-item-02" data-mode="active" data-dark-border="true">
    <%= resource_center_item_path %>
  </li>
  <li data-id="resource-item-03" data-mode="active" data-dark-border="true">
    <%= resource_center_item_path %>
  </li>
</ul>

