<div class="instructions">
  Resource center provides educational and useful material to help sponsors keep their employees informed.

  <ul>
    <li>Content could come from the My401k portal</li>
    <li>Content could come from the eMoney site or some other resource that we can tap into</li>
  </ul>

  <p>It is not necessary to have 2 links from the Plan Participant portal</p>
</div>
