<style type="text/css">
#terms-and-conditions{ position: absolute; left: 607px; top: 409px; width: 352px; height: 40px; }
#select-your-state-of-residence{ position: absolute; left: 607px; top: 203px; width: 168px; height: 188px; }
#schedule-initial-interview{ position: absolute; left: 824px; top: 487px; width: 132px; height: 62px; }
</style>

<ul class="hotspot-enabled" data-title="order-your-free-retirement-checkup" data-coming-soon="false">
  <%= image_tag "/assets/mock/order-your-free-retirement-checkup.png" %>
  <li data-id="schedule-initial-interview" data-mode="active" data-dark-border="true">
    <%= select_a_financial_professional_path %>
  </li>
  <li data-id="select-your-state-of-residence" data-mode="active" data-dark-border="true">
    <%= select_a_financial_professional_path %>
  </li>
  <li data-id="terms-and-conditions" data-mode="active" data-dark-border="true">
    <%= read_terms_and_conditions_for_free_retirement_checkup_path %>
    </li>
</ul>

