<!DOCTYPE html>
<html lang="en">
<head>
  <title> My Retirement Resources Made Easy | Plan Participant Portal</title>
  <%= stylesheet_link_tag     "portal", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span6">
        <h2 class="mrrme">My Retirement Resources Made Easy</h2>
      </div><!-- /.span6 -->
      <div class="span6">
        <ul class="nav nav-pills pull-right" id="ulFix">
          <li><a href="#">Plan Participants</a></li>
          <li><a href="#">Plan Sponsors</a></li>
          <li><a href="#">Plan Service Providers</a></li>
        </ul><!-- /.nav nav-pills pull-right -->
      </div><!-- /.span6 -->
    </div><!-- /.row -->
    <hr>

    <%= yield %>   

  </div><!-- /.container -->
  
</body>
</html>
